<header class="relative z-10 h-16 w-full items-center md:h-20">
  <div class="relative mx-auto flex h-full flex-col justify-center px-3">
    <div class="relative flex w-full items-center pl-1 sm:ml-0 sm:pr-2">
      <div class="container relative left-0 flex w-3/4">
        
        <div
          class="group relative hidden h-full w-full items-center md:flex lg:w-64"
        >
          <div
            class="absolute flex cursor-pointer items-center justify-center p-3 pr-2 text-sm uppercase text-gray-500 sm:hidden"
          >
            <svg
              fill="none"
              class="relative h-5 w-5"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
          
          
          
        </div>
      </div>
      <div
        class="relative ml-5 flex w-9/12 items-center justify-end p-1 sm:right-auto sm:mr-0 md:w-1/4"
      >
        
        
      <tr *ngFor="let users of filterItems; " class="relative block text-white">
        {{ users.username ? users.username : 'login' }} | 
      </div>
      <a href="" (click)="logout()">
        <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h11m0 0-4-4m4 4-4 4m-5 3H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h3"/>
      </svg>
      </a>
    </div>
  </div>
</header>
